/* Стили для скелетона */
.skeleton {
    background: linear-gradient(
      90deg,
      rgba(31, 41, 55, 1) 25%, /* bg-gray-800 */
      rgba(75, 85, 99, 1) 50%, /* Более светлый оттенок */
      rgba(31, 41, 55, 1) 75%  /* bg-gray-800 */
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
    display: inline-block;
    border-radius: 4px;
    opacity: 0.7;
  }
  
  /* Анимация для скелетона */
  @keyframes skeleton-loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  