.max-h-fill {
    max-height: -webkit-fill-available;
  }

  @media screen and (min-height: 475px) {
    .max-h-fill {
      max-height: 90vh;
      min-height: -webkit-fill-available;
      padding-top: 1rem;
    }
  }